*{
    margin: 0;
    padding: 0;

}
p{
    text-align: justify;
    font-size: 22pt;
    color: blueviolet;
    background-color: blue;
    padding: 50px, 150px;
}
body{
    background-color: aqua;
    margin:100px 50px;

}
table{
    font-size: 22pt;
    border-spacing: 5px;
    border: 10px double red;

}
tr{
    background-color: bisque;
}
td{
    padding: 5px;
}